/* Write your CSS here */
.suggestion-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
}
.suggestion {
  color: #475569;
  margin: 6px;
}
.arrow-icon {
  width: 20px;
  height: 20px;
}
